@charset "UTF-8";


body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 10px;
    background: rgb(139, 177, 247);
}

header, footer{
    color: white;
    margin: 50px;
    padding: 10px;
    text-align: center;
}

main{
    background: whitesmoke;
    border-radius: 20px;
    margin: auto;
    width: 500px;
    padding: 5px;
    box-shadow: 1px 1px 2px 1px rgb(88, 88, 88);
}

section > div {
    padding: 10px;
    margin: 10px;
}
