@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    font:normal 1.1em Arial, Helvetica, sans-serif;
}

main{
    
    padding: 20px;
    width: 50vw;
    margin: 15px;
    border-radius: 20px;
    background: rgba(102, 102, 192, 0.678);
}

h1{
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;
}

main > div{
    padding-left: 10px;
    margin-bottom: 50px;
}

footer{
    text-align: center;
}