@charset  "UTF-8";

body {
    background: rgba(74, 152, 255, 0.925);
    font: normal 1em Arial;
}

header {
    color: white;
    text-align: center;
}

main section{
    background: white url();
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.521);
}

#imagem > img {
    width: 300px;
    padding-left: 100px;
    margin-bottom: 20px;
}
footer > p {
    color: white;
    text-align: center;
}