@charset  "UTF-8";

body {
    background: rgba(74, 152, 255, 0.925);
    font: normal 1em Arial;
    font-size: 1.7em;
}

header {
    color: white;
    text-align: center;
}

main section{
    background: white url();
    border-radius: 10px;
    padding: 15px;
     max-width: 500px;
    margin: auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.521);
}

div {
    text-align: center;
}

footer > p {
    color: white;
    text-align: center;
}